{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/plugin/slick.js' %}"></script>
<script src="{% static 'js/plugin/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/plugin/counter.js' %}"></script>
<script src="{% static 'js/plugin/waypoint.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugin/wow.min.js' %}"></script>
<script src="{% static 'ss/plugin/plugin.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>