{% load static %}
<style>
  .navbar-brandd {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #4b23c0;
    transition: color 0.3s;
  }

  .navbar-brandd:hover {
    color: #76b5ff;
  }
</style>

<!-- header-section start -->
<header class="header-section">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex header-area">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brandd" href="{% url 'main:index' %}"> MyFundz </a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-content"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbar-content"
          >
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown main-navbar">
                <a
                  class="nav-link dropdown-toggle"
                  href="javascript:void(0)"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  >Personal</a
                >
                <ul class="dropdown-menu main-menu shadow">
                  <li><a class="nav-link" href="{% url 'main:index' %}">Discover Personal</a></li>
                  <li><a class="nav-link" href="#">Transfer & Spend</a></li>
                  <li><a class="nav-link" href="#">Save</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown main-navbar">
                <a
                  class="nav-link dropdown-toggle"
                  href="javascript:void(0)"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  >Business
                </a>
                <ul class="dropdown-menu main-menu shadow">
                  <li>
                    <a class="nav-link" href="#">Discover Business</a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">Business Registration</a>
                  </li>
                  <li><a class="nav-link" href="#">Integrations</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown main-navbar">
                <a
                  class="nav-link dropdown-toggle"
                  href="javascript:void(0)"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  >Company
                </a>
                <ul class="dropdown-menu main-menu shadow">
                  <li><a class="nav-link" href="#">About Us</a></li>
                  <li><a class="nav-link" href="#">Career</a></li>
                  <li><a class="nav-link" href="#">Blog</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown main-navbar">
                <a
                  class="nav-link dropdown-toggle"
                  href="javascript:void(0)"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  >Help
                </a>
                <ul class="dropdown-menu main-menu shadow">
                  <li>
                    <a class="nav-link" href="#">Get Help</a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">Scam Awareness</a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">FAQs</a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">Security</a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div
              class="right-area header-action d-flex align-items-center max-un"
            >
              {% if request.user.is_authenticated %}
              <a href="{% url 'userauth:dashboard' %}" class="login">Dashboard</a>

              <a href="{% url 'logout' %}" class="cmn-btn"
                >Sign Out
                <i class="icon-d-right-arrow-2"></i>
              </a>

              {% else %}
              <a href="{% url 'login' %}" class="login">Login</a>
              <a href="{% url 'signup' %}" class="cmn-btn"
                >Sign Up
                <i class="icon-d-right-arrow-2"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <!-- alert start -->

  {% if messages %} {% for m in messages %}
  <div class="alert alert-{{m.tags}}">
    <strong>{{m}}</strong>
  </div>
  {% endfor %} {% endif %}
  <script>
    setTimeout(() => {
      ₦(".alert").alert("close");
    }, 4000);
  </script>

  <!-- alert end -->
</header>
<!-- header-section end -->
